# Frontend build
dist
frontend/dist

# Backend static
backend/dist
backend/public

# Env
.env
frontend/.env
backend/.env
backend/uploads
build
.vscode

# Env
.env
frontend/.env
backend/.env

node_modules
*.log
tmp-*
image.png
image-1.png
image-2.png
image-3.png
arquivo_certo.md
teste
